CompileFlags:
  Add: [
    -I/Users/danilo_tato/coding/c++/c_present_gui/c-present/include,
    -I/Users/danilo_tato/coding/c++/c_present_gui/sfml/include,
    -I/Users/danilo_tato/coding/c++/c_present_gui
  ]